.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: 
    linear-gradient(
    rgba(255,255,255,0.3),
    rgba(255, 255, 255, 0.3)
    ),
    
    url('https://images.pexels.com/photos/18368871/pexels-photo-18368871/free-photo-of-a-plant-in-front-of-a-green-door.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load');
    background-size: cover;
}

.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.loginForm > label{
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;

}


.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral; 
    border: none;
    color: white;
    border-radius: 10px; 
    padding: 10px; 
}
.loginButton:disabled{
    cursor: not-allowed;
    background-color: rgb(209, 91, 91);
}   


.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
